<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--<encoder charset="UTF-8">-->
		<!--<pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>-->
		<!--</encoder>-->
		<includeCallerData>true</includeCallerData>
		<encoder charset="UTF-8">
			<pattern>[teachercolumn] [%level] %d{yyyy-MM-dd HH:mm:ss.sss} %thread %logger  %msg%n</pattern>
		</encoder>
	</appender>

	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.jiangli" level="ALL"/>

	<!-- <logger name="com.jiangli" level="DEBUG"/>
	<logger name="druid.sql" level="DEBUG"/>
	<logger name="org.springframework.data.redis" level="DEBUG"/> -->

</configuration>